In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv ('Final-full2.csv')

In [3]:
df

,Player Name,Opposition,Ground,No Of Matches,Last 5 AVG Overs,Last 5 AVG Mdns,Last 5 AVG Runs,Last 5 AVG Wkts,Last 5 AVG SR,Last 5 AVG MatchWin%,Wkts,Runs,Day/Night,Fielding Inning,Tournament Type
0,Akila Dananjaya,v Afghanistan,Abu Dhabi,1,9,0,55,3,25.29,41.55,3,43,Day/Night,Second,Icc/Asia
1,Akila Dananjaya,v Afghanistan,Abu Dhabi,1,7,0,47,2,30.32,44.32,1,39,Day/Night,Second,Icc/Asia
2,Akila Dananjaya,v Afghanistan,Abu Dhabi,1,9,0,48,2,28.37,35.27,2,40,Day/Night,Second,Icc/Asia
3,Akila Dananjaya,v Afghanistan,Abu Dhabi,1,10,2,53,2,29.90,43.36,1,37,Day/Night,Second,Icc/Asia
4,Akila Dananjaya,v Afghanistan,Abu Dhabi,1,10,0,50,3,21.14,36.38,1,38,Day/Night,Second,Icc/Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5440,Wanindu Hasaranga de Silva,v Zimbabwe,Mirpur,1,6,0,35,0,12.34,4.06,0,13,Day/Night,Second,Icc/Asia
5441,Wanindu Hasaranga de Silva,v Zimbabwe,Mirpur,1,5,0,34,0,11.52,0.00,0,21,Day/Night,Second,Icc/Asia
5442,Wanindu Hasaranga de Silva,v Zimbabwe,Mirpur,1,7,1,32,2,3.56,0.00,0,17,Day/Night,Second,Icc/Asia
5443,Wanindu Hasaranga de Silva,v Zimbabwe,Mirpur,1,7,2,31,1,4.42,2.66,0,13,Day/Night,Second,Icc/Asia
5444,Wanindu Hasaranga de Silva,v Zimbabwe,Mirpur,1,5,0,31,1,12.43,0.00,0,21,Day/Night,Second,Icc/Asia

In [4]:
df = df.drop(['No Of Matches'], axis = 1)

In [5]:
df.dtypes

Player Name              object
Opposition               object
Ground                   object
Last 5 AVG Overs          int64
Last 5 AVG Mdns           int64
Last 5 AVG Runs           int64
Last 5 AVG Wkts           int64
Last 5 AVG SR           float64
Last 5 AVG MatchWin%    float64
Wkts                      int64
Runs                      int64
Day/Night                object
Fielding Inning          object
Tournament Type          object
dtype: object

In [6]:
df['Player Name'].unique()

array(['Akila Dananjaya', 'Angelo Mathews', 'Asela Gunaratne',
       'Asitha Fernando', 'Binura Fernando', 'Chamika Karunaratne',
       'Charith Asalanka ', 'Chaturanga de Silva', 'Danushka Gunathilaka',
       'Dasun Shanaka', 'Dhananjaya de Silva', 'Dushmantha Chameera',
       'Isuru Udana', 'Jeffrey Vandersay', 'Kamindu Mendis',
       'Kasun Rajitha', 'Lahiru Kumara', 'Lakshan Sandakan',
       'Lasith Malinga', 'Maheesh Theekshana', 'Nuwan Pradeep',
       'Praveen Jayawickrama', 'Ramesh Mendis', 'Seekkuge Prasanna',
       'Suranga Lakmal', 'Thisara Perera', 'Vishwa Fernando',
       'Wanindu Hasaranga de Silva'], dtype=object)

In [7]:
df['Opposition'].unique()

array(['v Afghanistan', 'v Bangladesh', 'v England', 'v India',
       'v Pakistan', 'v South Africa', 'v Zimbabwe', 'v Australia',
       'v Canada', 'v Ireland', 'v Kenya', 'v New Zealand', 'v Scotland',
       'v West Indies', 'v Bermuda', 'v Netherlands'], dtype=object)

In [8]:
df['Ground'].unique()

array(['Abu Dhabi', 'Colombo (RPS)', 'Mirpur', 'Dambulla', 'Pallekele',
       'Dharamsala', 'Mohali', 'Visakhapatnam', 'Dubai (DSC)', 'Sharjah',
       'Cape Town', 'Centurion', 'Durban', 'Johannesburg', 'Cardiff',
       'Dunedin', 'Adelaide', 'Brisbane', 'Hambantota', 'Hobart',
       'Melbourne', 'Perth', 'Sydney', 'The Oval', 'Birmingham',
       'Bristol', 'Chester-le-Street', 'Leeds', "Lord's", 'Manchester',
       'Nottingham', 'Wellington', 'Ahmedabad', 'Bulawayo', 'Cuttack',
       'Fatullah', 'Hyderabad (Deccan)', 'Kingston', 'Kolkata', 'Nagpur',
       'Port of Spain', 'Rajkot', 'Ranchi', 'Dublin', 'Dublin (Malahide)',
       'Auckland', 'Christchurch', 'Hamilton', 'Mount Maunganui',
       'Nelson', 'Wankhede', 'Edinburgh', 'Bloemfontein', 'East London',
       'Kimberley', 'Paarl', 'Colombo (SSC)', 'North Sound', 'Galle',
       'Harare', 'Gqeberha', 'Karachi', 'Bridgetown', 'Colombo (PSS)',
       'Canberra', 'Amstelveen', 'Brabourne', 'Napier', 'Queenstown',
       'Jaipur', 'Providence'], dtype=object)

In [9]:
df['Day/Night'].unique()

array(['Day/Night', 'Day'], dtype=object)

In [10]:
df['Fielding Inning'].unique()

array(['Second', 'First'], dtype=object)

In [11]:
df['Tournament Type'].unique()

array(['Icc/Asia', 'Bilateral/Tri-Series'], dtype=object)

In [12]:
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()
df['Player Name'] = label.fit_transform(df['Player Name'])
df['Opposition'] = label.fit_transform(df['Opposition'])
df['Ground'] = label.fit_transform(df['Ground'])
df['Day/Night'] = label.fit_transform(df['Day/Night'])
df['Fielding Inning'] = label.fit_transform(df['Fielding Inning'])
df['Tournament Type'] = label.fit_transform(df['Tournament Type'])

In [13]:
df

,Player Name,Opposition,Ground,Last 5 AVG Overs,Last 5 AVG Mdns,Last 5 AVG Runs,Last 5 AVG Wkts,Last 5 AVG SR,Last 5 AVG MatchWin%,Wkts,Runs,Day/Night,Fielding Inning,Tournament Type
0,0,0,0,9,0,55,3,25.29,41.55,3,43,1,1,1
1,0,0,0,7,0,47,2,30.32,44.32,1,39,1,1,1
2,0,0,0,9,0,48,2,28.37,35.27,2,40,1,1,1
3,0,0,0,10,2,53,2,29.90,43.36,1,37,1,1,1
4,0,0,0,10,0,50,3,21.14,36.38,1,38,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5440,27,15,49,6,0,35,0,12.34,4.06,0,13,1,1,1
5441,27,15,49,5,0,34,0,11.52,0.00,0,21,1,1,1
5442,27,15,49,7,1,32,2,3.56,0.00,0,17,1,1,1
5443,27,15,49,7,2,31,1,4.42,2.66,0,13,1,1,1
5444,27,15,49,5,0,31,1,12.43,0.00,0,21,1,1,1

In [14]:
df.to_csv('Encording.csv')

In [15]:
#feature_names = ['Player Name','Opposition','Ground','Last 5 AVG Overs','Last 5 AVG Mdns','Last 5 AVG Runs','Last 5 AVG Wkts','Last 5 AVG SR','Last 5 AVG MatchWin%']
feature_names = ['Player Name','Opposition','Ground','Day/Night','Fielding Inning','Tournament Type','Last 5 AVG Overs','Last 5 AVG Mdns','Last 5 AVG Runs','Last 5 AVG Wkts','Last 5 AVG SR','Last 5 AVG MatchWin%']
X = df[feature_names]
Y = df["Wkts"]

In [16]:
data=X.values
target=Y.values

In [17]:
from sklearn.preprocessing import MinMaxScaler

scaler_data = MinMaxScaler()
#scaler_target = MinMaxScaler()

data_scaled=scaler_data.fit_transform(data)
#target_scaled=scaler_target.fit_transform(target)

In [18]:
#split the data set as training set and test set randomly
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_scaled, target, test_size=0.1)

In [19]:
#df1 = pd.read_csv (r'E:\RP SLIIT Final Year\2022-141\Selecting Optimal Batsman For Cricket Squad\Testing_Set_For_Fake_Data_Generate.csv')

In [20]:
#df1

In [21]:
# from sklearn.preprocessing import LabelEncoder

# #label = LabelEncoder()
# df1['Player Name'] = label.fit_transform(df1['Player Name'])
# df1['Opposition'] = label.fit_transform(df1['Opposition'])
# df1['Ground'] = label.fit_transform(df1['Ground'])

In [22]:
# df1

In [23]:
# feature_names = ['Player Name','Opposition','Ground','Last 5 AVG Mins','Last 5 AVG BF','Last 5 AVG 4s','Last 5 AVG 6s','Last 5 AVG SR','Last 5 AVG Runs']
# X1 = df[feature_names]
# Y1 = df["AVG Runs"]

In [24]:
# data_scaled1 = scaler_data.fit_transform(X1)

In [25]:
# #split the data set as training set and test set randomly
# from sklearn.model_selection import train_test_split
# X_train1, X_test1, y_train1, y_test1 = train_test_split(data_scaled1, Y1, test_size=0.99)

In [26]:
##--LinearRegression
from sklearn.linear_model import LinearRegression
from matplotlib import pyplot

linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)
y_pred_LR = linear_reg.predict(X_test)

In [27]:
##--RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor

Random_FR = RandomForestRegressor()
Random_FR.fit(X_train, y_train)
y_pred_RF = Random_FR.predict(X_test)

In [ ]:
# import Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, roc_curve, roc_auc_score

# instantiate the classifier 
rfc = RandomForestClassifier(random_state=42)

# fit the model
rfc.fit(X_train, y_train)

# Predict the Test set results
y_pred = rfc.predict(X_test)

print("The accuracy score of Random Forest Classifier is {}".format(accuracy_score(y_test, y_pred)))
print()
print("Classification Report:")
print(classification_report(y_test, y_pred))
print()
print("The AUC-ROC score is {}".format(roc_auc_score(y_test, y_pred)))

In [28]:
##--DecisionTreeRegressor
from sklearn.tree import DecisionTreeRegressor

d_reg = DecisionTreeRegressor()
d_reg.fit(X_train, y_train)
y_pred_DT = d_reg.predict(X_test)

In [29]:
##--XGBRegressor
from xgboost import XGBRegressor

xgb_reg = XGBRegressor()
xgb_reg.fit(X_train, y_train)
y_pred_XGB = xgb_reg.predict(X_test)

In [30]:
##--KNeighborsRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.inspection import permutation_importance

knn_reg = KNeighborsRegressor()
knn_reg.fit(X_train, y_train)
y_pred_KNN = knn_reg.predict(X_test)

# Hyperparameter Tuning the Random Forest

In [31]:
# from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state = 42)
from pprint import pprint
# Look at parameters used by our current forest
print('Parameters currently in use:\n')
pprint(rf.get_params())

Parameters currently in use:

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}

In [32]:
from sklearn.model_selection import RandomizedSearchCV

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 1000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]

# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 288, 377, 466, 555, 644, 733, 822, 911, 1000]}

In [33]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

RandomizedSearchCV(cv=3, estimator=RandomForestRegressor(), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [200, 288, 377, 466,
                                                         555, 644, 733, 822,
                                                         911, 1000]},
                   random_state=42, verbose=2)

In [34]:
rf_random.best_params_

{'n_estimators': 466,
 'min_samples_split': 2,
 'min_samples_leaf': 1,
 'max_features': 'auto',
 'max_depth': 100,
 'bootstrap': True}

In [35]:
y_pred_rf_random = rf_random.predict(X_test)

In [36]:
from sklearn.metrics import r2_score
r2_LR = r2_score(y_test,y_pred_LR)
r2_DT = r2_score(y_test,y_pred_DT)
r2_RF = r2_score(y_test,y_pred_RF)
r2_XGB = r2_score(y_test,y_pred_XGB)
r2_KNN = r2_score(y_test,y_pred_KNN)

In [37]:
r2_rf_random=r2_score(y_test,y_pred_rf_random)

In [38]:
print('LR',r2_LR)
print('DT',r2_DT)
print('RF',r2_RF)
print('XGB',r2_XGB)
print('KNN',r2_KNN)

LR 0.08345410369484862
DT 0.36001007345700653
RF 0.6782323417391992
XGB 0.5982063718684061
KNN 0.45167513667077896

In [39]:
print('RF',r2_rf_random)

RF 0.6794561436513332

In [40]:
result = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred_RF})
result

     Actual  Predicted
0         2       2.17
1         1       1.25
2         1       0.89
3         0       0.11
4         0       0.01
..      ...        ...
540       0       1.12
541       2       1.85
542       1       0.90
543       2       0.84
544       1       1.31

[545 rows x 2 columns]

In [226]:
import pickle

pickle.dump(Random_FR,open('Predict_Wickets.pkl','wb'))